#experienciasSection{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    gap: clamp(0px, 2vw, 30px);
    scroll-margin-top: 200px;

}

.divExperiencias{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: clamp(0px, 2vw, 30px);
    scroll-margin-top: 200px;

}

.divSobreImg{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: white;
    border: 10px solid white;
    border-radius: 30px;

}

.textTeste{

    color: black;
    font-family: "Indie Flower", cursive; /* Fonte muito bonita para as fotos*/


}

.imgSobre{

    width: clamp(0px, 60vw, 400px);
    height: auto;
    border-radius: 10px;

}

.divSobreText{

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: clamp(250px, 60vw, 550px);

}

.tituloSobre{

    font-size: clamp(0px, 17vmin, 50px);
    
}

@media (max-width: 948px){ /* Tela pequena */

    
}