#projetos{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  
}

#divProjetos{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: clamp(0px, 1vw, 20px);
    
}

/* Ajustar tamanho da tela Iframe mantendo o proporcao correta */
@media (max-width: 1139px) {
  #divProjetos{
    width: 70%;
  }
}

#topicoProjetos{

  font-size: 50px;
  font-family: "Matemasie", sans-serif;
  color: white;
  transition: transform 0.2s;
  word-break: break-all;

}

#topicoProjetos:hover{

  transform: scale(1.2);

}

.original-button {

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #333333;
  width: clamp(50px, 20vw, 200px);
  height: 40px;
  font-size: clamp(14px, 3vmin, 24px);
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid #333333;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #ffffff;
  margin-bottom: 30px;
  transition: 0.3s;

}

.original-button:hover {
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}

#projetosIframe{

  width: 1070px;
  height: 603px;

}
/* Ajustar tamanho da tela Iframe mantendo o proporcao correta */
@media (max-width: 1200px) {
  #projetosIframe{
    width: 860px;
    height: 484px;
  }
}

@media (max-width: 888px) {
  #projetosIframe{
    width: 90%;
    height: 50vw;
  }
}
