#sobre{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin-top: 150px;
    gap: clamp(0px, 2vw, 30px);
    scroll-margin-top: 150px;

}

#divSobreImg{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(200px, 40vw, 350px);

}

#imgSobre{

    width: clamp(200px, 40vw, 350px);
    height: auto;

}

#divSobreText{

    display: flex;
    flex-direction: column;
    width: clamp(250px, 60vw, 450px);
    margin-left: 0;

}

.tituloSobre{

    font-size: clamp(40px, 3vmin, 50px); /* mínimo, fluido, máximo */
    
}

@media (max-width: 800px){ /* Tela pequena */
    #sobre {
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
        
    }
    #divSobreImg {
        width: 60vw;
    }
    #divSobreText {
        text-align: center;
        width: 90vw;
    }
}